@model List<FancyHomeDecor.Models.Models.Product>
@{
    ViewBag.Title = "Show";
}





<br />
<br/>
<div id="showTable">
    <h2>Product Details</h2>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Category</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button type="button" class="editBtn" data-id="@product.ID">Edit</button>
                        <button type="button" class="deleteBtn" data-id="@product.ID">Delete</button>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<br />
<br />

<div id="createContainer">


</div>




<script>

    $("#searchBtn").click(function () {

        var searchvalue = $("#searchVal").val();

        $.ajax({
            url: '/Product/Show',
            data: {
                search: searchvalue
            }

        })
            .done(function (response) {



                $("#showTable").html(response);

            })
            .fail(function (XMLHttpRequest,textStatus,errorthrown) {
                alert("Fail");
            })


    });


    $("#newBtn").click(function () {


        $.ajax({
            url: '/Product/Add',

        })
            .done(function (response) {

                $("#createContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorthrown) {
                alert("Fail");
            })


    });


    $(".editBtn").click(function () {

        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }

        })
            .done(function (response) {

                $("#createContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorthrown) {
                alert("Fail");
            })

    });

    $(".deleteBtn").click(function () {

        var confirmDelete = confirm("Are you sure you want to delete?");

        if (confirmDelete) {
            $.ajax({
                type: 'Post',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }

            })
                .done(function (response) {

                    $("#showTable").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorthrown) {
                    alert("Fail");
                })
        }
    });



</script>